<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/main.js" type="text/javascript" rel="stylesheet"></script>
  <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>

<div class="container">

  <!-- Navigation Bar inspired by w3schools.com Bootstrap reference-->
  <!-- Navigation Bar inspired by w3schools.com Bootstrap reference
  The class navbar navbar-default adds a default navigation bar the 
  top of the page that is by default responsive-->
  <nav class="navbar navbar-default">
    <!-- container-fluid class spans the full width of the viewport -->
    <div class="container-fluid"> 
      <!-- navbar-brand is for the brand or company's name and it 
      shows up on the left corner of the navigation bar-->
      <div class="container-header">
        <a class="navbar-brand">Rebecca's Rattie Rescue</a>
      </div>
      <!-- Create menu options that will be in the navigation bar -->
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="adopt">Adopt</a></li>
        <li><a href="volunteer">Volunteer</a></li>
      </ul>
    </div>
  </nav>
  <br>

  <!-- About Me Description-->
  <div class="row">
    <div class="col-xs-6">
        <h2>About Us</h2><br>
        <p>Welcome to Rebecca’s Rattie Rescue!<br><br>We are a rat rescue shelter that first opened its doors 
        5 years ago by its founder, Rebecca Lashua. Rebecca first became interested in rats as pets when her 
        husband suggested they get pet rats for their tiny downtown apartment. At first she was uneasy about 
        the idea, but reluctantly agreed. Within seconds of meeting her pet rats, she fell in love, and has 
        since become passionate for this often misunderstood and distrusted animal.<br><br>
        Since rats have short life spans (between 2 and 3 years on average), Rebecca’s pet rats died around 
        two years later from natural causes. In honor of her love for her dear pets, Rebecca opened this 
        rescue shelter and has since spread her love and joy of rats to others!<br><br>
        Here at Rebecca’s Rattie Rescue, we believe that our rodent friends are no less deserving of love 
        and care than humans’ other furry friends like cats and dogs. If you don’t believe us, come in to 
        visit us and if you fall in love (as we are sure you will), you can volunteer with us, or better yet, 
        adopt a few rats. 
            
        If you would like to ask us some questions, or would like to come out to the shelter for a visit, 
        don’t hesitate to stop, give us a call, or shoot over an email!<br></p>
    </div>
    <div class="col-xs-6">
      <img id="aboutUsImg" src="images/prisheandcrinkles.jpg" alt="two rats in a hammock" style="width:75%;">
    </div><br>
    <div id="operationInfo" class="col-xs-6">
      <h5><strong>Hours of Operation</strong></h5>
        <ul>
          <li>Mon:   9:00am to 5:00pm</li>
          <li>Tue:   9:00am to 5:00pm</li>
          <li>Wed:   9:00am to 5:00pm</li>
          <li>Thur:  9:00am to 5:00pm</li>
          <li>Fri:   9:00am to 5:00pm</li>
          <li>Sat:   10:00am to 7:00pm</li>
          <li>Sun:   10:00am to 4:00pm</li>
        </ul>
      <p>Phone Number: 555-555-5555</p>
      <p>Email: info@rebeccasrattierescue.org</p>
    </div>

  </div><br>

  <div class="row">
    <!-- Rat care guide download. the target="_blank" attribute will open it in a tab -->
    <div class="col-xs-6">
        <p>
          To learn more about domesticated rats, 
          <a href="https://en.wikipedia.org/wiki/Fancy_rat" target="_blank">Wikipedia</a> 
          has loads of information!
          And if you want to know how to care for them as pets,
           <a href="https://www.aspca.org/sites/default/files/rat_care.pdf" download target="_blank">
             <button type="button" class="btn btn-info">Download</button>
           </a>
           the Rat Care Guide from The American Society for Prevention of Cruelty to Animals&copy 
        </p>
    </div>
  </div>  

</div>
<footer class="container-fluid text-center">
    <p>Rebecca’s Rattie Rescue<br>
    101 Fake Street<br>
    Fakecity, Massachusetts 55555<br>
    Phone: 555-555-5555</br>
    Email: info@rebeccasrattierescue.org</p>
</footer>
  

</body>
</html>