<!DOCTYPE html>
<html lang="en">
<head>
  <title>Volunteer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/main.js" type="text/javascript" rel="stylesheet"></script>
  <link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>

<div class="container">

  <!-- Navigation Bar inspired by w3schools.com Bootstrap reference-->
  <!-- Navigation Bar inspired by w3schools.com Bootstrap reference
  The class navbar navbar-default adds a default navigation bar the 
  top of the page that is by default responsive-->
  <nav class="navbar navbar-default">
    <!-- container-fluid class spans the full width of the viewport -->
    <div class="container-fluid"> 
      <!-- navbar-brand is for the brand or company's name and it 
      shows up on the left corner of the navigation bar-->
      <div class="container-header">
        <a class="navbar-brand">Rebecca's Rattie Rescue</a>
      </div>
      <!-- Create menu options that will be in the navigation bar -->
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="adopt">Adopt</a></li>
        <li><a href="volunteer">Volunteer</a></li>
      </ul>
    </div>
  </nav>

  <!-- Volunteer job list-->
  <div class="container-fluid text-center">
    <ul id="volunteerList">
        <h3>Volunteering Opportunities</h3>
        <li>Cleaning the cages every evening</li>
        <li>Cleaning the rat toys and play equipment</li>
        <li>Bathing the rats</li>
        <li>Washing the blankets</li>
        <li>Making fundraising calls</li>
        <li>Coordinating fundraising events</li>
        <li>Answering the phone</li>
        <li>Managing appointments</li>
        <li>Responding to emails of inquiry</li>
        <li>Providing tours to scheduled guests</li>
        <li>Admistering medicaton to rats when necessary</li>
        <li>Transporting rats to the veterinarian's office</li>
        <li>Fostering rats in your own home!</li>
    </ul><br>
    <p>Interested in volunteering with us?
      <!-- this will link to an outside email client -->
      <a href="mailto:lashuar@oregonstate.edu">Email us</a> 
      and we will get back to you ASAP.</p>
  </div>
</div>

<footer class="container-fluid text-center">
    <p>Rebecca’s Rattie Rescue<br>
    101 Fake Street<br>
    Fakecity, Massachusetts 55555<br>
    Phone: 555-555-5555</br>
    Email: info@rebeccasrattierescue.org</p>
</footer>
</body>
</html>